
    body {
     background: linear-gradient(to right, #ffe4ee, #f89ec2, #ff89b8,#ff7db1);
     color: #9c003f;
     font-family: Arial, sans-serif;
    }

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #container {
      background-color: #fff0f6;
      margin: 50px auto;
      max-width: 500px;
      padding: 20px 30px 30px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
    }

    .input-container input[type="text"] {
      flex: 1;
      border: 2px solid #ff89b8;
      border-radius: 5px;
      padding: 8px ;
    }

    .input-container input[type="text"]:hover {
      border-color: #f9478e;
    }   

    .input-container input[type="text"]:focus {
      border-color: #f9478e;   
      outline: none;         
    }

    .input-container button {
      padding: 9px 12px;
      background-color: #ff62a1; 
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-weight: bold;
    }

    .input-container button:hover {
      opacity: 0.9;
      background-color: #ff217a;
      
    }
    .search-container {
      position: relative;
      width: 100%;
      margin-top: 10px;
    }

    .search-container input[type="text"] {
      width: 100%;
      border: 2px solid #ff89b8;
      border-radius: 5px;
      padding: 8px 40px 8px 10px; 
      font-size: 14px;
      box-sizing: border-box; 
      height: 36px; 
    }

    .search-container input[type="text"]:hover {
      border-color: #f9478e;
    }

    .search-container input[type="text"]:focus {
      border-color: #f9478e;
      outline: none;
    }

    .search-container button {
     position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: #ff62a1;
      font-size: 16px;
      padding: 0;
      height: 100%; 
    }

    .search-container button:hover {
     color: #f9478e;
    }

    .list-container {
      margin-top: 20px;
    }

    #task-list {
      list-style-type: none;
      padding: 0;
    }

    #task-list li {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #ffe4ee;
      margin: 5px 0;
      padding: 8px 10px;
      border-radius: 5px;
    }

    #task-list li span {
      flex: 1; 
    }

    .delete-btn {
      background-color: #ff62a1;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 4px 8px;
      cursor: pointer;
      font-size: 12px;
    }

    .delete-btn:hover {
      background-color: #ff217a;
    }
    .edit-btn {
      background-color: #ff62a1;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 4px 8px;
      cursor: pointer;
      font-size: 12px;
    }
    .edit-btn:hover {
      background-color: #ff217a;
    }